.productScheme_container{
    width: 100%;
    min-height: 650px;
    height: fit-content;
    background: #fff;
    border-radius: 10px;
    margin-top: 29px;
    padding-top: 16px;
}
.productScheme_dataGrid_container{
    width: 87%;
    margin: 0 auto;
    margin-top: 35px;
}

.filter_container{
    display: flex;
    margin-bottom: 10px;
}
.filter_container_text{
    margin-top: 13px;
    margin-left: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #000000;
}

.filter_container_img{
    margin-top: 13px;
    margin-left: 5px;
    width: 3px;
    height: 15px;
}